<article class="products__card card">
  <div class="card__info">
    <div class="card__description">
      <div class="card__product-name">
        <a [routerLink]="['/products/', productData.id]">{{ productData.name }}</a>
      </div>
      <div [productPriceColor]="productData.price"
           class="card__product-price">{{ productData.price | uahCurrency}}</div>
    </div>
    <ng-content></ng-content>
  </div>


  <button (click)="toggleProduct()"
          [ngClass]="{'btn__in-cart': inCart}"
          class="card__product-add btn btn__product">{{ inCart ? 'Remove from cart' : 'Add to cart'}}
  </button>
</article>
