@import "utils/variables";
@import "components/btn";

.card {
  width: 402px;
  height: 291px;
  padding: 30px;
  background-color: rgb($primary, 1);
  display: flex;
  flex-direction: column;
  gap: 25px;
  line-height: 44px;
  border-radius: 7px;

  &__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    overflow: hidden;
  }

  &__product-name {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 90%;
    height: 1.2em;
    white-space: nowrap;
  }

  &__product-price {
    color: lightsalmon;
  }

  button {
    margin-top: auto;

    &:hover {
      cursor: pointer;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}
