<article class="products__card card">
  <div class="card__product-name">
    <a [routerLink]="[productData.id]">{{ productData.name }}</a>
  </div>
  <div class="card__product-price"
       [productPriceColor]="productData.price">{{ productData.price | uahCurrency}}</div>
  <button (click)="toggleProduct()"
          [ngClass]="{
                      'btn__in-cart': productData.inCart,
                      '':!productData.inCart
                     }"
          class="card__product-add btn btn__product">{{productData.inCart ? 'Remove from cart' : 'Add to cart'}}
  </button>
</article>
