@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");

@font-face {
  font-family: "Jost";
  src: local("Jost-SemiBold"),
    url("../../fonts/Jost-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: local("Jost-Medium"),
    url("../../fonts/Jost-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: local("Jost-Regular"),
    url("../../fonts/Jost-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: local("Jost-Ligth"), url("../../fonts/Jost-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
