//views
$container: 1725px;
$container_middle: 1280px;
$container_taplet: 787px;
$container_mobile: 375px;

//fonts
$text-regular: 36px;
$text-small: calc($text-regular * 2 / 3);

//colors
$text-primary: #fccc47;
$text-secondary: #fff;
$primary: #101820;
$secondary: #fee715;

$white: #fff;
$black: #000;
