<header>
  <div class="header container">
    <div class="header__logo">
      <div class="header__logo-img"></div>
    </div>
    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__menu-item">Product</li>
        <li class="header__menu-item">Cart</li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="products">
    <h1 class="products__title">Products</h1>
    <div class="products__cards">
      <app-product
        *ngFor="let product of products"
        [productData]="product"
      ></app-product>
    </div>
    <div class="products__load">
      <button class="btn btn__product">Load more</button>
    </div>
  </section>
</main>
<footer>
  <button class="btn btn__admin">Admin -></button>
</footer>
