<main *ngIf="(products$ | async)">
  <section class="products">
    <h1 class="products__title">Products</h1>
    <div class="products__cards">
      <app-product-card
        *ngFor="let product of (products$ | async)?.slice(0, page * 8)"
        [productData]="product"
      ></app-product-card>
    </div>
    <div class="products__load">
      <button class="btn btn__product" (click)="loadMore()">Load more</button>
    </div>
  </section>
</main>
<app-spinner-loader *ngIf="!(products$ | async)"></app-spinner-loader>


