@import "utils/variables";
@import "components/btn";

.products {
  max-width: $container;
  margin: 0 auto;

  &__title {
    margin: 28px 0 57px 0;
  }

  &__cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 39px;
  }

  &__load {
    display: flex;
    justify-content: center;
    margin-top: 52px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $container) {
  .products {
    width: $container_middle;

    &__title {
      width: $container_middle;
    }
  }
}

@media screen and (max-width: $container_middle) {
  .products {
    width: $container_taplet;

    &__title {
      width: $container_taplet;
    }
  }
}

//@media screen and (max-width: $container_taplet) {
//  .header {
//    width: $container_mobile;
//
//    &__title {
//      width: $container_mobile;
//    }
//  }
//}
