<app-header></app-header>
<main>
  <section class="products"
           *ngIf="!(loader$ | async)"
  >
    <h1 class="products__title">Products</h1>
    <div class="products__cards">
      <app-product-card
        *ngFor="let product of products"
        [productData]="product"
      ></app-product-card>
    </div>
    <div class="products__load">
      <button class="btn btn__product">Load more</button>
    </div>
  </section>
  <app-spinner-loader *ngIf="(loader$ | async)"></app-spinner-loader>

</main>
<app-footer buttonText="Admin"></app-footer>

