@import "utils/variables";

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 120px);

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb($primary, 0.5);
    width: 570px;
    height: 375px;
    padding: 30px;
  }

  &__title {
    margin-bottom: 10px;
  }

  &__form {
    width: 100%;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: center;
  }
}
