@import "utils/variables";
@import "components/btn";

.not-found {
  max-width: $container;
  margin: 100px auto 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__sub-title {
    margin-top: 30px;
  }

  &__btn {
    margin-top: 70px;
  }
}
