//views
$container: 1725px;

//fonts
$text-regular: 36px;
$text-small: calc($text-regular * 2 / 3);

//colors
$text-primary: #fccc47;
$text-secondary: #fff;
$primary: #101820;
$secondary: #fee715;

$white: #fff;
$black: #000;
