<header>
  <div class="header container">
    <div class="header__logo">
      <!-- LogoMOCK -->
      <div class="header__logo-img"></div>
    </div>
    <nav class="header__menu">
      <ul class="header__list">
        <li class="header__menu-item">Product</li>
        <li class="header__menu-item">Cart</li>
      </ul>
    </nav>
  </div>
</header>
<main>
  <section class="products">
    <h1 class="products__title">Products</h1>
    <div class="products__cards">
      <article *ngFor="let product of products" class="products__card card">
        <div class="card__product-name">{{ product.name }}</div>
        <div class="card__product-price">
          {{ product.price | currency }}
        </div>
        <button class="card__product-add btn btn__product">Add to cart</button>
      </article>
    </div>
    <div class="products__load">
      <button class="btn btn__product">Load more</button>
    </div>
  </section>
</main>
<footer>
  <button class="btn btn__admin">Admin -></button>
</footer>

<router-outlet></router-outlet>
