<div
  *ngIf="visible$ | async"
  class="tooltip">
  <div class="tooltip__items">
    <div *ngFor="let product of cartProducts$ | async" class="tooltip__item">
      <div class="tooltip__item-description">
        <div>
          <a [routerLink]="['/products/', product.id]">{{ product.name }}</a>
        </div>
        <div>{{product.price! | uahCurrency}} </div>
      </div>
      <button class="tooltip__btn btn btn__product" (click)="this.cartService.delete(product)">Delete</button>


    </div>
  </div>

  <div
    class="tooltip__total-price">{{(cartProducts$ | async)!.length !== 0 ?
    'Total price: ' + (getTotalPrice((cartProducts$ | async)!) | uahCurrency) :
    'Cart is empty'}}
  </div>
</div>
