.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;

  &__title {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  &__form {
    width: 100%;
    margin-bottom: 20px;
  }

  &__buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;

    button {
      width: 45%;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    label {
      margin-bottom: 10px;
      font-size: 24px;
      line-height: 29px;
    }
  }
}
