@import "app/styles/base/typography";
@import "app/styles/base/reset";
@import "app/styles/utils/variables";

body {
  font-family: "Jost";
  font-weight: 400;
  font-size: $text-regular;
  color: $text-primary;
}

.container {
  max-width: $container;
  width: $container;
}
